:root {
    --textColor: #b1d1cb;
    --divColor: #042630;
    --titleColor: #d0d6d6;
  }

* {
    margin: 0%;
    padding: 0%;
    font-family: "Inter", sans-serif;
}

.whiteText{
    color: var(--textColor);
}

.summaryPageContainer {
    background-color:#041421;
    overflow-y: auto;
    height: 100vh; 
}

.headerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.headerContainer:hover p{
    color: #229fc5; 
}
.mainHeader, .subHeader{
    color: var(--titleColor);
    margin: 0px;
    font-style: italic;
    transition: color 0.5s;
}
.mainHeader{
    border-bottom: #ffffff 1px solid;
    font-size: 40px;
    font-weight: 800;
}
 .subHeader{
    font-size: 22px;
    font-weight: 600;
}

.bookInfoContainer{
    display: flex;
    justify-content: center;
    gap: 2%;
    height: auto;
    margin: 2% 5% 10px 5%;
    padding: 10px;
}

.bookCoverContainer, .bookSummaryContainer{
    background-color: var(--divColor);
    height: 60vh;
    border-radius: 10px;
    overflow-y: auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.bookCoverContainer{
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookCover{
    width: 70%;
    height: 70%;
    object-fit: cover;
    border-radius: 10px;
}

.bookSummaryContainer{
    width: 60%;
    padding: 25px;
}

.bookTitle, .bookAuthor, .bookSummary{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--textColor);
    margin-bottom: 0%;

}
.bookTitleText{
    font-size: 25px;
    color: var(--titleColor);
    font-weight: bold;
}

.normalText{
    font-size: 20px;
}

.similarBooksContainer{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 10px;
    width: 78%;
    height: auto;
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 2% 5% 10px 11%;
    padding: 10px;
    background-color: var(--divColor);
}
.similarBooksHeader{
    padding: 10px;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
}
.similarBooksHeader p{
    margin-bottom: 0%;
}

.horizontalScroll {
    display: flex;
    justify-content: space-evenly;
    overflow-x: auto; 
    padding-bottom: 10px;
    gap: 10px;
}
.similarBookText{
    color: var(--titleColor);
    font-size: 30px;
    font-weight: 600;
} 

.summaryPageContainer .book-card {
    display: inline-block;
    width: 150px; /* Set consistent card width */
    margin: 10px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}




