
:root {
    --text-color: #b1d1cb;
    --title-color: #d0d6d6;
    --div-color: #042630;
    --bg-color: #041421;
}

.app {
    font-family: "Inter", sans-serif;
    color: var(--text-color);
    background-color: var(--bg-color);
    overflow-y: auto;
    height: 100vh;
    width: 100%;
}

.header{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.title {
    padding-top: 25px;
    padding-bottom: 5px;
    text-align: center;
    font-style: italic;
    font-size: 50px;
    border-bottom: 2px solid var(--text-color);
}

.search-area {
    padding-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.search-bar {
    display: flex;
    width: fit-content;
    position: relative;
    padding: 1.2em;
    margin-bottom: 20px;
    background: var(--text-color); 
    background-size: 400% 400%;
    border-radius: 60px;
}

.search-bar input::placeholder {
    color: white;
}

.search-bar:hover input {
    width: 400px;
}

.search-bar:not(:hover) input:not(:placeholder-shown) {   
    width: 400px;
} 

.search-bar:hover .icon{
    rotate: 90deg;
}

input {
    width: 80px;
    font-size: 1.2rem;
    border: none;
    outline: none;
    color: var(--div-color);
    background-color: transparent;
    transition: 0.6s;
}

@property --angle{
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

.icon {
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    font-size: 25px;
    transition: 0.6s;
}

.iconBtn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin-left: 10px;
}

.iconBtn:hover .icon {
    color: rgb(103, 181, 255);
}

img {
    border: 1px solid var(--text-color);
    box-shadow: 0px 0px 10px 1px var(--text-color);
    transition: 0.2s;
}

.app .book-card {
    display: inline-block;
    width: 150px; /* Set consistent card width */
    margin: 25px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

.book-card:hover img{
    box-shadow: 0px 0px 10px 5px var(--text-color);
}

.book-cover {
    width: 150px;
    height: 200px; /* Maintain a fixed height for covers */
    object-fit: cover; /* Ensure image scaling looks good */
    border-radius: 5px;
}

.no-cover {
    width: 150px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0e0e0;
    color: #888;
    border-radius: 5px;
}

.book-info {
    margin-top: 10px;
}

.container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 25px;
    padding-top: 50px;
}

.inner-container{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 10px;
    width: 85%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: var(--div-color);
    transition: --var1 1.5s;
}

.books-container {
    display: flex;
    overflow-x: auto; 
    padding-top: 10px;
    gap: 10px;
}

.header-container{
    padding: 10px;
    margin-bottom: 20px;
}

.header-container p{
    margin-bottom: 0%;
}

.header-text{
    color: var(--title-color);
    font-size: 30px;
    font-weight: 600;
}

.inner-container:hover ::-webkit-scrollbar{
    height: 10px;
}

.inner-container ::-webkit-scrollbar{
    height: 8px;
}

.inner-container ::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}
  
.inner-container ::-webkit-scrollbar-thumb:hover {
    background: var(--text-color);
}